.core-principles {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

.core-principles-title {
  padding-top: 2rem;
  font-weight: bold;
  font-size: 8rem;
  text-align: center;
  color: bisque;
  filter: drop-shadow(0 2.5rem 1rem rgb(19, 18, 18));
}

.box-area {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 0rem;
  place-items: center;
  padding: 7rem;

}

.box {
  position: relative;
  overflow: hidden;
  border-radius: 3rem;
  border-color: black;
  margin: 0;
  box-shadow: 1rem 1rem 1.5rem rgb(0, 0, 0);
}

.box img {
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  display: block;
  transition: transform 0.5s;
}

.hovermebox {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  border-style: solid;
  border-radius: 2rem;
  padding: 1rem;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.overlay {
  height: 0;
  width: 100%;
  background: linear-gradient(transparent, rgb(14, 13, 13) 80%);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
  font-weight: bold;
  transition: height 0.5s;
}

.overlay h3 {
  font-weight: bolder;
  font-size: 5rem;
  margin-top: 20rem;
  color: bisque;
}

.overlay p {
  color: bisque;
  margin-top: 2.5rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.box:hover img {
  transform: scale(1.3);
}

.box:hover .overlay {
  height: 50rem;
}

.box:hover .hovermebox {
  opacity: 0;
}