.experiences {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

.nsf-wave-gauge {
  display: block;
  margin: 20rem;
  padding: 4rem;
  margin-top: 0rem;
}

.experiences h1 {
  padding-top: 2rem;
  padding-bottom: 8rem;
  font-weight: bold;
  font-size: 8rem;
  text-align: center;
  color: bisque;
  filter: drop-shadow(0 2.5rem 1rem rgb(19, 18, 18));
}

.box-content {
  border-radius: 3rem;
  color: white;
  background-color: #2a2929;
  display: flex;
  flex-direction: row;
  /* justify-content -> align items on main/horizontal axis*/
  /* align-items -> align items on cross/vertical axis (flex-end, flex-start, center)*/
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  box-shadow: 0rem 0rem 2rem rgb(0, 0, 0);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.box-content:hover {
  box-shadow: 0rem 0rem 2rem rgb(28, 189, 100);
  transform: scale(1.1);
  cursor: pointer;
}

.nsf-image {
  width: 47rem;
  height: 30rem;
  padding: 3rem;
  padding-right: 0rem;
  border-radius: 50px;
  filter: drop-shadow(0 0 1.5rem rgb(0, 0, 0));
}

.nsf-description {
  align-self: flex-start;
  flex-grow: 1;
  padding: 3rem;
}

.nsf-description span {
  font-size: 3.5rem;
  font-weight: bold;
  color: bisque;
  filter: drop-shadow(0 1rem 1rem rgb(19, 18, 18));
  text-align: center;
}

.nsf-description p {
  padding-top: 3rem;
  font-size: 2rem;
  word-spacing: 1rem;
  line-height: 4rem;
}