.intro-box {
  padding: 2.5rem;
  padding-top: 15rem;
  display: grid;
  grid-template-rows: 0.2fr 1fr;
  border-style: solid;
  margin: 3rem;
  text-align: center;
}

#name-heading {
  font-size: 5.5rem;
  margin: 0rem;
}

#name-audio-button {
  margin-left: 1rem;
  width: 6rem;
  height: 6rem;
  border: 0.2rem solid rgb(147, 144, 144);
  border-radius: 5rem;
  text-align: center;
}

#name-audio-button:hover {
  transition: box-shadow 0.2s ease;
  box-shadow: 0 0 0.7rem black;
}

#intro-list {
  list-style-type: none;
  padding: 1rem;
  margin: 0.5rem;
  font-size: 2.3rem;
}

#intro-list li {
  margin-bottom: 1rem;

}