.intro-box {
  padding: 2.5rem;
  padding-top: 15rem;
  display: grid;
  grid-template-rows: 0.3fr 1fr;
  margin: 3rem;
  margin-top: 0rem;
  text-align: center;
}

.reachout-logo-box {
  display: grid;
  grid-template-columns: 0.33fr 0.33fr 0.33fr;
  margin: 1rem;
}

.social-logos {
  transition: transform 0.2s ease 0s;
  filter: drop-shadow(0 0 0.3rem rgb(225, 220, 220));
  animation: slideInTop 1.2s ease-in-out;
}

.social-logos:hover {
  transform: translateY(-10px);
}

#github-logo {
  margin-top: 0.4rem;
}

#name-heading {
  font-size: 5.5rem;
  margin: 0rem;
  filter: drop-shadow(0 0 0.3rem rgb(225, 220, 220));
  animation: slideInTop 2s ease-in-out;
}

#name-audio-button {
  margin-left: 1rem;
  width: 6rem;
  height: 6rem;
  border: 0.2rem solid rgb(118, 115, 115);
  border-radius: 5rem;
  text-align: center;
  background-image: url(../images/icons8-speaker-48.png);
  background-size: cover;
  background-position: center;
}


#name-audio-button:hover {
  transition: box-shadow 0.2s ease;
  box-shadow: 0 0 0.7rem rgb(225, 220, 220);
  transition: transform 0.2s ease 0s;
  transform: translateY(-10px);
  cursor: pointer;
}

.dynamic-text {
  list-style-type: none;
  padding: 1rem;
  margin: 0.5rem;
  font-size: 2.3rem;
  text-align: center;
  animation: slideInTop 1.7s ease-in-out;
}

.dynamic-text li {
  padding: 0.5rem;
}