.tech-skills {
  display: inline-block;
  border-style: solid;
  padding-left: 10px;
}

#tech-skill-title {
  font-size: 30px;
  padding-top: 30px;
  padding-right: 150px;
  padding-left: 150px;
}

.skills-images {
  margin: 10px;
}