.tech-skills {
  padding: 2rem;
  margin: 3rem;
  margin-top: 2rem;
  margin-left: 0rem;
  padding-left: 0rem;
}

#tech-skill-title {
  font-size: 5rem;
  padding-top: 4rem;
  padding-bottom: 1rem;
  text-align: center;
  animation: slideInTop 2s ease-in-out;
  filter: drop-shadow(0 0 0.3rem rgb(225, 220, 220));
}

.skills-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.skills-grid-rows {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.skills-images {
  margin: 2rem;
  place-self: center;
  animation: slideInTop 1s ease-in-out;
  filter: drop-shadow(0 0 0.3rem rgb(225, 220, 220));
}