.tech-skills {
  display: inline-block;
  border-style: solid;
  padding: 1rem;
  margin-top: 0rem;
  margin-left: 2.5rem;
  vertical-align: top;
}

#tech-skill-title {
  font-size: 4rem;
  padding-top: 2rem;
  text-align: center;
}

.skills-grid {
  display: block;
}

.skills-grid-first-row {
  display: block;
}

.skills-grid-second-row {
  display: block;
}

.skills-grid-third-row {
  display: block;
}

.skills-images {
  margin: 1rem;
  display: inline-block;
}