.experiences-title {
  margin: 5rem;
  margin-top: 12rem;
  padding-top: 2rem;
  font-weight: bold;
  font-size: 8rem;
  text-align: center;
  color: bisque;
  filter: drop-shadow(0 2.5rem 1rem rgb(19, 18, 18));
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

.timeline {
  color: white;
  width: 90%;
  margin: 10rem auto;
  position: relative;
  margin-bottom: 40rem;
}

.timeline::after {
  content: "";
  position: absolute;
  background: linear-gradient(rgb(81, 81, 83), rgb(186, 185, 185));
  width: 2rem;
  right: 49%;
  height: 100%;
  top: 0;
  border-radius: 50px;
  z-index: -1;
}

.container {
  width: 50%;
  margin: 0rem;
  position: relative;
  padding: 3rem;
}

.container:nth-child(even) {
  right: -50%;
}

.container:nth-child(odd),
.container:nth-child(even),
.container:last-child {
  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
}

.container:nth-child(odd) {
  animation-name: slideFromLeft;
}

.container:nth-child(even),
.container:last-child {
  animation-name: slideFromRight;
}

.container.animated {
  opacity: 1;
}

.container:nth-child(even)::before {
  content: "";
  position: absolute;
  height: 5rem;
  width: 5rem;
  background: linear-gradient(rgb(81, 81, 83), rgb(186, 185, 185));
  top: 0;
  left: -2.1rem;
  border-radius: 50%;
  z-index: 1;
  filter: drop-shadow(0 0 0.3rem rgb(225, 220, 220));
}

.container:nth-child(odd)::before {
  content: "";
  position: absolute;
  height: 5rem;
  width: 5rem;
  background: linear-gradient(rgb(81, 81, 83), rgb(186, 185, 185));
  top: 0;
  right: -2.9rem;
  border-radius: 50%;
  z-index: 1;
  filter: drop-shadow(0 0 0.3rem rgb(225, 220, 220));
}

.text-content {
  margin: 1rem;
  background: rgb(35, 34, 34);
  border-radius: 5rem;
  padding: 2rem;
}

.text-content h1 {
  padding: 1rem;
  font-size: 3rem;
}

.text-content p {
  font-size: 2rem;
  padding: 1rem;
  line-height: 3rem;
}

.time-range-1::before {
  content: "October 2024 ~ PRESENT";
  position: absolute;
  font-size: 2rem;
  top: 0rem;
  left: 8rem;
  font-style: italic;
}

.time-range-2::before {
  content: "July 2024 ~ Sep 2024";
  position: absolute;
  font-size: 2rem;
  top: 0rem;
  left: 8rem;
  font-style: italic;
}

.time-range-3::before {
  content: "Jan 2024 ~ June 2024";
  position: absolute;
  font-size: 2rem;
  top: 0rem;
  left: 8rem;
  font-style: italic;
}

.time-range-4::before {
  content: "June 2022 ~ Jan 2024";
  position: absolute;
  font-size: 2rem;
  top: 0rem;
  left: 8rem;
  font-style: italic;
}