.nav-bar-container {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.nav-bar {
  margin-top: 2rem;
  padding-left: 10rem;
  padding-right: 10rem;
  border-radius: 1rem;
  box-shadow: 0 0.4rem 1.2rem rgb(70, 69, 69);
  animation: slideInTop 2.3s ease-in-out;
}

.nav-links {
  display: flex;
  gap: 10rem;
  justify-content: space-evenly;
  padding: 0rem;
}

.nav-link {
  list-style: none;
  justify-content: center;
  cursor: pointer;
  transition: color 0.3s ease-in-out 0s;
}

.nav-link a {
  text-decoration: none;
  filter: drop-shadow(0 0 0.2rem rgb(200, 198, 198));
  font-size: 2.2rem;
  transition: color 0.2s ease-in 0s;
}

.nav-link a:visited {
  color: white;
}

.nav-link a:hover {
  color: #4f4d4d;
}

.drop-down {
  list-style: none;
  position: absolute;
  margin: 0rem;
  padding: 0rem;
  background: #a4a2a2;
  color: black;
  box-shadow: 0 0.4rem 1.2rem rgb(101, 100, 100);
  border-radius: 0.5rem;
}

.drop-down li {
  margin: 1rem;
}

.experiences .drop-down {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out 0s;
  margin-top: 0.5rem;
}

.experiences:hover .drop-down {
  visibility: visible;
  opacity: 1;
}