/* Intro slide in animation */
@keyframes slideInTop {
  from {
    transform: translateY(-600px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* for tech skills scroll animation */
@keyframes scrollLeft {
  to {
    left: -11rem;
  }
}

@keyframes scrollRight {
  to {
    right: -11rem;
  }
}

/* core principles scroll effect*/
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.2;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes appear-1 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-7rem);
  }

  to {
    opacity: 1;
    transform: translateX(0)
  }
}

@keyframes slideFromRight {
  from {
    opacity: 0;
    transform: translateX(7rem);
  }

  to {
    opacity: 1;
    transform: translateX(0)
  }
}

@keyframes scaleup {
  from {
    scale: 1;
  }

  to {
    scale: 1.1;
  }
}