/* resetting default margins */
html {
  font-size: 62.5%;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: source_code_proregular, monospace;
  font-size: 1.2rem;
  margin: 0rem;
}

body::-webkit-scrollbar {
  width: 1.5rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #817d7d;
  margin: 1rem;
}

body::-webkit-scrollbar-track {
  background-color: #3f3d3d;
}

body::-webkit-scrollbar-thumb:hover {
  background: rgb(196, 193, 193);
}

.first-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.first-page {
  /*background-image: url(../images/background/background.jpg);*/
  background-color: #858383;
  color: rgb(255, 255, 255);
}

@font-face {
  font-family: 'source_code_proregular';
  src: url('fonts/sourcecodepro-regular-webfont.eot');
  src: url('fonts/sourcecodepro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/sourcecodepro-regular-webfont.woff2') format('woff2'),
    url('fonts/sourcecodepro-regular-webfont.ttf') format('truetype'),
    url('fonts/sourcecodepro-regular-webfont.svg#source_code_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

a img {
  cursor: pointer;
}