.tech-skills {
  padding: 200px;
  padding-top: 30px;
  padding-right: 150px;
  padding-left: 150px;
  display: inline-block;
  border-style: solid;
  position: absolute;
  top: 150px;
  left: 650px;
}

#tech-skill-title {
  font-size: 30px;
}