#top_header {
  background-color: rgb(185, 179, 175);
  border: 1px solid #665544;
  padding: 10px;
}

#name_audio_button {
  width: 100px;
  height: 20px;
  border-radius: 10px;
}

body {
  background-color: #368C8C;
  opacity: 0.9;
  font-family: Arial;
  font-size: 12px;
}

/* HEADINGS STYLES */
h1 {
  font-size: 24px
}

h2 {
  font-size: 18px
}

h3 {
  font-size: 14px
}