.book-section {
  background: black;
  margin-top: 15rem;
  margin-bottom: 15rem;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 25%;
}

.book-section h1 {
  color: crimson;
  font-size: 8rem;
  margin-bottom: 12rem;
  text-align: center;
}

.books-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 0rem;
  row-gap: 14rem;
  justify-items: center;
}


.indiv-book {
  filter: drop-shadow(0 0.5rem 1.5rem rgb(255, 2, 103));
  height: 50rem;
  width: auto;
  transition: transform 0.2s ease-in-out;
}

.indiv-book:hover {
  transform: scale(1.05);
}

#netflix-book,
#allthelight-book {
  justify-self: flex-end;
}

#elon-book,
#deadline-book {
  justify-self: flex-start;
}