.intro {
  display: grid;
  grid-template-columns: 0.7fr 0.6fr;
  margin-top: 10rem;
  justify-content: center;
  animation: appear-1 2s ease-in;
}

.intro>div:first-child {
  display: grid;
  grid-template-rows: 0.5fr 0.5fr;
  gap: 1rem;
}

/* item 1 in grid */
.wrapper {
  display: flex;
  justify-items: center;
  padding-top: 2rem;
  padding-left: 15rem;
  padding-right: 5rem;
}

.wrapper-inside {
  width: 60rem;
  padding-top: 4rem;
  padding-left: 10rem;
  display: flex;
  align-items: center;
}

.aboutme-quote {
  color: white;
  align-self: flex-start;
  text-align: center;
  font-size: 3.5rem;
  line-height: 5rem;
}

.aboutme-quote-gif {
  height: 5.5rem;
  width: auto;
}

/* item 2 in grid */
.aboutme-image {
  width: 45rem;
  height: 55rem;
  object-position: center;
  object-fit: cover;
  border-radius: 50px;
  zoom: 1.1;
}

.static-text {
  color: white;
  display: inline-block;
  font-weight: bold;
  font-size: 6rem;
  line-height: 1;
  height: 6rem;
}

/* all dynamic text css */
.dynamic-texts {
  display: inline-block;
  margin-left: 3rem;
  height: 6rem;
  overflow: hidden;
  font-weight: bold;
}

.dynamic-texts li {
  color: crimson;
  font-size: 6rem;
  list-style: none;
  position: relative;
  top: 0;
  line-height: 1;
  margin-bottom: 3rem;
  animation: slide-text-up 20s steps(4) infinite;
}

@keyframes slide-text-up {
  100% {
    top: -36rem;
  }
}

.dynamic-texts li span {
  position: relative;
}

.dynamic-texts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  border-left: 0.2rem solid red;
  animation: typing 5s steps(9, end) infinite;
}

@keyframes typing {

  0%,
  30% {
    left: 0;
  }

  60%,
  90% {
    left: 100%;
  }

  100% {
    left: 30%;
  }
}